{
  "plugins": ["stylelint-scss"],
  "rules": {
    "block-no-empty": true,
    "color-no-invalid-hex": true,
    "unit-no-unknown": true,
    "property-no-unknown": true,
    "selector-type-no-unknown": true,
    "declaration-block-no-duplicate-properties": true,
    "string-no-newline": true,
    "value-no-vendor-prefix": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["include", "mixin"]
      }
    ],
    "comment-no-empty": true
  }
}
