.slider {
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: 100vw;
  &__wrapper {
    position: relative;
    z-index: 3;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 100%;
    width: auto;
    @media (min-width: 960px) {
      width: 100%;
    }
  }
}
.products {
  &__slide {
    &-content {
      @media (min-width: 960px) {
        width: 100%;
        max-width: 600px;
      }
      @media (min-width: 1050px) {
        max-width: 700px;
      }
      @media (min-width: 1220px) {
        position: relative;
        z-index: 3;
        max-width: 890px;
        padding-top: 33px;
      }
    }
    &-wrap {
      width: 100vw;
      max-width: 1620px;
      margin: auto;
      padding: 34px 10px 70px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      @media (min-width: 960px) {
        flex-direction: row;
      }
      @media (min-width: 1220px) {
        min-height: 629px;
        padding-top: 69px;
        padding-bottom: 110px;
      }
      @media (min-width: 1360px) {
        position: relative;
      }
      @media (min-width: 1500px) {
        min-height: 729px;
      }
      @media (min-width: 1730px) {
        min-height: 835px;
      }
    }
    &-title {
      margin-bottom: 12px;
      @media (min-width: 1220px) {
        margin-bottom: 40px;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: #221b15;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 110%;
        span {
          color: #8cb869;
        }
        @media (min-width: 1050px) {
          font-size: 70px;
        }
        @media (min-width: 1220px) {
          font-size: 100px;
        }
        @media (min-width: 1500px) {
          font-size: 110px;
        }
        @media (min-width: 1730px) {
          font-size: 129px;
        }
      }
    }
    &-text {
      color: #221b15;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
      width: 100%;
      max-width: 381px;
      @media (min-width: 1500px) {
        font-size: 18px;
      }
    }
    &-img {
      margin-top: 30px;
      img {
        width: 100%;
        height: auto;
        max-width: 500px;
      }
      @media (min-width: 960px) {
        margin-top: 0;
        align-self: flex-end;
      }
      @media (min-width: 1220px) {
        position: absolute;
        right: 0;
        top: 69px;
        z-index: 1;
      }
      @media (min-width: 1360px) {
        right: -40px;
        img {
          height: 500px;
          width: auto;
          max-width: 100%;
        }
      }
      @media (min-width: 1500px) {
        img {
          height: 550px;
        }
      }
      @media (min-width: 1730px) {
        right: -98px;
        img {
          height: 659px;
        }
      }
    }
  }
}
.swiper {
  width: 100%;
}
.custom-pagination-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.custom-pagination {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  z-index: 5;
  transform: translateX(-50%);
  bottom: 40px;
  gap: 8px;
  @media (min-width: 1500px) {
    bottom: 100px;
    gap: 10px;
  }

  .pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(244, 111, 15, 0.5);
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;

    &.active {
      background-color: #a74e30;
    }
  }
}
.arrow-wrapper {
  position: absolute;
  min-width: 35px;
  height: 35px;
  bottom: 12px;
  transform: translateY(-50%);
  z-index: 3;

  img {
    width: 40px;
    height: auto;
  }

  @media (min-width: 1500px) {
    bottom: 70px;
  }
}

.arrow__left {
  left: 36%;
}

.arrow__right {
  transform: translateY(-50%) scale(-1, 1);
  right: 36%;
}
.buy {
  display: inline-block;
  position: absolute;
  z-index: 3;
  bottom: 4%;
  cursor: pointer;
  transform: translateY(-50%);
  left: 30px;
  &:active {
    .buy__image {
      transform: rotate(90deg);
      color: #f5bf64;
    }
  }
  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    top: 0;
    left: 0;
    z-index: 5;
  }
  @media (min-width: 960px) {
    right: auto;
    left: 35%;
    top: auto;
    transform: translateX(-50%);
    bottom: 150px;
    &:hover {
      .buy__image {
        transform: rotate(90deg);
        color: #f5a964;
      }
    }
  }
  &__image {
    width: 128px;
    height: auto;
    position: relative;
    z-index: 1;
    color: #c54f1d;
    transform: rotate(0deg);
    transition:
      transform 0.3s ease-out,
      color 0.3s ease-out;
    @media (min-width: 960px) {
      width: 195px;
    }
  }
  &__frame {
    width: 84px;
    height: 84px;
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 3;
    @media (min-width: 960px) {
      width: 125px;
      height: 125px;
      top: 35px;
      left: 35px;
    }
  }
}
