.plans {
  h2 {
    margin-top: 24px;
    color: #090909;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
  }

  &_item {
    background: #fff;
    border-radius: 16px;
    border: 2px solid #f0f4f3;
    transition: all 0.3s ease-out;
    cursor: pointer;
    overflow: hidden;

    @media (min-width: 768px) {
      &:hover {
        border-color: #ff6636;
      }
    }

    &.isSelected {
      border-color: #ff6636;
      background: #fef0ec;

      .plans_check {
        border-color: #ff6636;
        background: #ff6636;

        svg {
          opacity: 1;
          transform: scale(1);
        }
      }

      .plans_info-discount {
        background: #ff6636;
        color: #fff;
      }

      .plans_shape {
        background-color: #fff;

        span,
        &-split1,
        &-split2,
        &-per {
          color: #090909;
        }
      }
    }
  }

  &_label {
    background: #ff6636;
    padding: 8px 16px 4px 16px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  &_check {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #dde4e2;
    cursor: pointer;
    margin-left: 8px;

    svg {
      position: relative;
      top: -2px;
      left: -2px;
      width: 24px;
      height: 24px;
      opacity: 0;
      transform: scale(0.7);
      transition: all 0.3s ease-out;
    }
  }

  &_content {
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
  }

  &_name {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.4;
    color: #090909;
  }
  &_move {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &_old {
    color: #7d8785;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    text-decoration: line-through;
    text-decoration-color: #ff5050;
  }

  &_info-price {
    color: #7d8785;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;

    span {
      text-decoration: line-through;
      text-decoration-color: #ff5050;
    }
  }

  &_info-discount {
    padding: 4px;
    border-radius: 6px;
    background: #fef0ec;
    color: #ff6636;
    font-size: 10px;
    font-weight: 700;
    line-height: 110%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-out;

    svg {
      width: 12px;
      height: 12px;
      margin-right: 4px;
    }
  }

  &_price {
    margin-left: 12px;
    display: flex;
    align-items: center;
    position: relative;
  }

  &_shape {
    display: flex;
    align-items: flex-start;
    padding: 4px 18px 4px 8px;
    width: 119px;
    height: 53px;
    background-color: #f0f4f3;
    transition: all 0.3s ease-out;
    clip-path: path(
      'M103.381 3.50493C101.892 1.31256 99.4133 0 96.763 0H8C3.58172 0 0 3.58172 0 8V45C0 49.4183 3.58172 53 8 53H96.763C99.4133 53 101.892 51.6874 103.381 49.4951L115.947 30.9951C117.79 28.2817 117.79 24.7183 115.947 22.0049L103.381 3.50493Z'
    );

    span {
      color: #98a4a1;
      font-size: 20px;
      font-weight: 700;
      line-height: 140%;
      margin-right: 2px;
      transition: color 0.3s ease-out;
    }

    &-split1 {
      color: #98a4a1;
      font-size: 44px;
      font-weight: 700;
      line-height: 100%;
      margin-right: 2px;
      transition: color 0.3s ease-out;
    }

    &-split2 {
      color: #98a4a1;
      font-size: 20px;
      font-weight: 700;
      line-height: 120%;
      position: relative;
      top: 2px;
      transition: color 0.3s ease-out;
    }

    &-per {
      color: #98a4a1;
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
      transition: color 0.3s ease-out;
    }

    &-group {
      display: flex;
      flex-direction: column;
    }
  }
}

.secure {
  margin-top: 24px;
  &_label {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    padding: 4px 8px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 8px;
    background: #dcf3e2;
    margin-bottom: 24px;

    svg {
      width: 14px;
      height: 14px;
    }

    p {
      color: #090909;
      font-size: 12px;
      font-weight: 500;
      line-height: 150%;
    }
  }

  &_image {
    width: 100%;
    max-width: 311px;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  &_caption {
    margin-top: 24px;
    border-radius: 8px;
    background: #f0f4f3;
    padding: 10px 9px;
    color: #98a4a1;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
}
