.error-404 {
  position: relative;
  &__bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 1;
  }
  &__bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 100%;
    z-index: 1;
  }
  &__wrapper {
    text-align: center;
    max-width: calc(482px + 20px);
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 205px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
  }

  &__main {
    color: #f5a964;
    text-align: center;
    font-size: 156px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 20px;
  }

  &__headline {
    color: #221b15;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 6px;
  }

  &__text {
    color: #221b15;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 20px;
  }

  &__button {
    height: 50px;
    min-width: 189px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
