.status {
  border-radius: 8px;
  background-color: #dcf3e2;
  padding: 16px;
  display: flex;
  margin-bottom: 32px;

  align-items: center;
  &__icon {
    width: 24px;
    height: auto;
    color: #3aa36a;
    margin-right: 16px;
  }
  &__text {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    color: #3aa36a;
  }
}

.aa {
  padding-top: 25px;
  &__wrapper {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    max-width: calc(343px + 32px);
    display: flex;
    flex-direction: column;
  }
  &__top {
  }
  &__title {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 12px;
    color: #090909;
    text-align: center;
  }
  &__description {
    color: #252727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &__terms {
    color: #98a4a1;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    a {
      text-decoration: underline;
      color: #98a4a1;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.account {
  margin-top: 24px;
  border-radius: 16px;
  background-color: #ebf3ff;
  padding: 16px;
  margin-bottom: 24px;
  &__title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 24px;
    text-align: center;
  }
  &__content {
    border-radius: 24px;
    background-color: #fff;
    padding: 24px;
    margin-bottom: 24px;
  }
}
.manual {
  &__title {
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 12px;
  }
  &__title-big {
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 12px;
  }
  &__description-small {
    color: #252727;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &__description {
    color: #252727;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &__or {
    color: #000;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    position: relative;
    margin-top: 36px;
    margin-bottom: 36px;
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background-color: #99c2ff;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    span {
      position: relative;
      display: inline-block;
      padding: 0 14px;
      background-color: #ebf3ff;
      z-index: 3;
    }
  }
  &__img {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin-bottom: 36px;
    margin-top: 16px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
