.faq {
  margin-top: 24px;

  &_title {
    color: #090909;
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
  }

  &_list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_elem {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    background: #f0f4f3;
    padding: 20px 16px;

    &.is-open {
      .faq_elem-icon {
        transform: translateY(-50%) rotate(0deg);
      }
    }
  }

  &_elem-header {
    position: relative;
    width: 100%;
    padding-right: 30px;
  }

  &_elem-title {
    color: #090909;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
  }

  &_elem-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    transition: all 0.3s ease-out;
  }

  &_elem-body {
    margin-top: 20px;
  }

  &_elem-text {
    color: #090909;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
}
