.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  @media (max-width: 920px) {
    display: none;
  }
  &__top {
    background-color: #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 100%;
    position: relative;
    z-index: 4;
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 1;
      background: linear-gradient(
        90deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.2) 20.31%,
        rgba(17, 17, 17, 0.2) 83.33%,
        rgba(17, 17, 17, 0) 100%
      );
    }
    &-wrapper {
      max-width: 1620px;
      margin: auto;
      padding: 0 10px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-links {
      display: flex;

      gap: 26px;
    }
    &-link {
      color: #221b15;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      transition: color 0.3s ease-out;
      &:hover {
        color: #c54f1d;
      }
    }
  }
  &__data {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  &__bottom {
    border: 0.955px solid rgba(17, 17, 17, 0);
    background: #fffff2;
    min-height: 70px;
    padding: 10px;
    position: relative;
    z-index: 2;
    &-wrapper {
      max-width: 1620px;
      margin: auto;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      z-index: 1;
      background: linear-gradient(
        90deg,
        rgba(17, 17, 17, 0) 0%,
        rgba(17, 17, 17, 0.2) 20.31%,
        rgba(17, 17, 17, 0.2) 83.33%,
        rgba(17, 17, 17, 0) 100%
      );
    }
    &-left {
      display: flex;
      align-items: center;
      gap: 42px;
      @media (max-width: 1111px) {
        gap: 8px;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      gap: 13px;
      @media (max-width: 1111px) {
        gap: 8px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    &-img {
      width: 45px;
      height: auto;
      margin-right: 8px;
    }
    &-text {
      color: #f5a964;
      transition: color 0.3s ease-out;
      leading-trim: both;
      text-edge: cap;
      font-variant-numeric: lining-nums proportional-nums ordinal;
      font-feature-settings:
        'cpsp' on,
        'rvrn' on,
        'ss01' on;
      font-size: 29.798px;
      font-style: normal;
      font-weight: 700;
      line-height: 110%;
      @media (max-width: 1320px) {
        display: none;
      }
    }
    &:hover {
      .header__logo-text {
        color: #c54f1d;
      }
    }
  }
  &__sale {
    display: flex;
    width: 110px;
    padding: 9px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #38854d;
    background: #8cb869;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    position: relative;
    transition:
      border 0.3s ease-out,
      background 0.3s ease-out;
    &-icon {
      color: #38854d;
      position: absolute;
      top: -8px;
      left: -8px;
      width: 24px;
      height: 24px;
    }
    &:hover {
      border: 1px solid #38854d;
      background: #38854d;
    }
    &:active {
      border: 1px solid #38854d;
      background: #38854d;
    }
  }
  &.openedMenu {
    .trailer {
      top: 100%;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      background: rgba(0, 0, 0, 0.5);
      transition:
        opacity 0.3s ease-out,
        top 0.3s ease-out,
        visibility 0.3s ease-out,
        background 0.3s 0.3s ease-out;
    }
  }
}
.menu {
  display: flex;
  align-items: center;
  gap: 36px;
  @media (max-width: 1050px) {
    gap: 16px;
  }
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    &-icon {
      width: 22px;
      height: 22px;
      color: #38854d;
      margin-right: 8px;
    }
    &-text {
      color: #221b15;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      transition: color 0.3s ease-out;
      @media (max-width: 1050px) {
        font-size: 16px;
      }
    }
    &-arrow {
      margin-left: 8px;
      color: #38854d;
      width: 13.5px;
      height: 13.5px;
      transform: rotate(0);
      transition: transform 0.3s ease-out;
    }
    &:hover {
      .menu__item-text {
        color: #38854d;
      }
    }
    &.active {
      .menu__item-text {
        color: #38854d;
      }
      .menu__item-arrow {
        transform: rotate(180deg);
      }
    }
  }
}
.trailer {
  position: absolute;
  width: 100%;
  height: calc(100vh - 100%);
  left: 0;
  background: rgba(0, 0, 0, 0);
  top: -100%;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
  overflow-y: auto;

  transition:
    opacity 0.3s 0.3s ease-out,
    top 0.3s 0.3s ease-out,
    visibility 0.3s 0.3s ease-out,
    background 0.3s ease-out;
  &__categories {
    background-color: #fff;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition:
      opacity 0.3s ease-out,
      visibility 0.3s ease-out;
    &.active {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    max-width: 1620px;
    margin: auto;
    padding: 40px 10px;
    @media (max-width: 1280px) {
      padding: 20px 10px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    flex: 1 1 20%;
    max-width: 382px;
    position: relative;
    @media (max-width: 1280px) {
      flex: 1 1 33%;
    }
    &-link {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 3;
    }
    &-img {
      width: 90px;
      height: auto;
      margin-right: 18px;
      border-radius: 8px;
    }
    &-title {
      color: #221b15;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      margin-bottom: 10px;
      transition: color 0.3s ease-out;
    }
    &-description {
      color: rgba(34, 27, 21, 0.75);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    &:hover {
      .trailer__item-title {
        color: #c54f1d;
      }
    }
  }
}
