.top {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 992px) {
      flex-direction: row-reverse;
      justify-content: flex-end;
      padding-top: 62px;
      padding-bottom: 62px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    max-width: 475px;
    border-radius: 16px;
    margin-bottom: 24px;
    @media (min-width: 992px) {
      margin-bottom: 0;
      margin-left: 124px;
    }
  }
  &__content {
    width: 100%;
    max-width: 456px;
    @media (min-width: 992px) {
      max-width: 495px;
    }
  }
  &__title {
    font-family: 'Inter', sans-serif;
    color: #333537;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
    @media (min-width: 992px) {
      font-size: 40px;
    }
  }
  &__description {
    font-family: 'Inter', sans-serif;
    color: #333537;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
    @media (min-width: 992px) {
      font-size: 18px;
    }
  }
}
