.contact {
  padding-bottom: 90px;
  @media (min-width: 960px) {
    padding-bottom: 180px;
  }

  &__wrapper {
    width: 100%;
    max-width: 1620px;
    margin: auto;
    padding: 0 10px;
  }
  &__title {
    color: #221b15;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 25px;
    @media (min-width: 960px) {
      font-size: 60px;
      margin-bottom: 40px;
    }
  }
  &__items {
    @media (min-width: 960px) {
      display: flex;
    }
  }
  &__item {
    border-radius: 8px;
    background: #fff9ef;
    padding: 24px;
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-bottom: 20px;
    }
    @media (min-width: 960px) {
      padding: 24px 30px;
      flex: 1 1 50%;
      &:first-child {
        margin-bottom: 0;
        margin-right: 24px;
      }
    }
    &-title {
      color: #221b15;
      text-align: left;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 140%;
      margin-bottom: 17px;
      @media (min-width: 960px) {
        font-size: 26px;
        margin-bottom: 20px;
      }
    }
    &-over {
      color: #221b15;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-top: auto;
    }
  }
  &__form {
    &-input {
      margin-bottom: 10px;
    }
    &-label {
      margin-bottom: 6px;
      color: #221b15;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
    }
    &-bottom {
      margin-top: 20px;
      @media (min-width: 960px) {
        display: flex;
        align-items: center;
      }
    }
    &-details {
      color: #221b15;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      opacity: 0.75;
    }
  }
  &__button {
    margin-bottom: 10px;
    height: 50px;
    border-radius: 8px;
    span {
      font-size: 14px;
      text-transform: uppercase;
    }
    @media (min-width: 960px) {
      max-width: 242px;
      margin-bottom: 0;
      margin-right: 18px;
    }
  }
}

.data {
  padding-bottom: 30px;
  &__link {
    display: flex;
    align-items: center;
    color: #221b15;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 8px;
    @media (min-width: 960px) {
      margin-bottom: 14px;
      font-size: 18px;
    }
    &:hover {
      span {
        text-decoration: underline;
      }
    }
    svg {
      color: #c54f1d;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      @media (min-width: 960px) {
        width: 24px;
        height: 24px;
      }
    }
  }
  &__socials {
    display: flex;
    padding-bottom: 14px;
    margin-top: 20px;
  }
  &__social {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #c54f1d;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-right: 13px;
    transition:
      background-color 0.3s,
      color 0.3s;
    &:hover {
      background-color: #fff;
      color: #c54f1d;
    }
    svg {
      width: 22px;
      height: 22px;
    }
  }
}
